<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-thumbnail class="animate__animated animate__fadeIn">
    <ion-img
      decoding="async"
      part="image"
      src="assets/backgroundimage.jpg"
    ></ion-img>
  </ion-thumbnail>
  <div class="content animate__animated animate__faster animate__fadeInUp">
    <ion-text>
      <ion-label class="planetTitle ion-margin">{{ location?.name }}</ion-label>
    </ion-text>
    <ion-item *ngIf="location !== undefined" color="secondary" lines="none">
      <ion-label slot="start">dimension {{ location?.dimension }}</ion-label>
      <ion-label slot="end" *ngIf="location?.type"
        >type {{ location?.type }}</ion-label
      >
    </ion-item>
    <ion-item *ngIf="location === undefined" color="secondary" lines="none">
      <ion-skeleton-text
        slot="start"
        animated
        style="width: 25%"
      ></ion-skeleton-text>
      <ion-skeleton-text
        slot="end"
        animated
        style="width: 25%"
      ></ion-skeleton-text>
    </ion-item>

    <ion-label class="residentsTitle ion-margin-start">Residents</ion-label>
    <ion-list *ngIf="skeletonResidents === false">
      <ion-text
        class="residentsNotFoundMessage"
        *ngIf="notResidents"
        color="medium"
      >
        <ion-label>Residents not found</ion-label>
      </ion-text>
      <app-item-character
        *ngFor="let resident of residents"
        [character]="resident"
        (onclick)="viewCharacter(resident)"
      ></app-item-character>
    </ion-list>

    <div *ngIf="skeletonResidents === true">
      <app-item-skeleton></app-item-skeleton>
    </div>
  </div>
</ion-content>
