<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="button__close"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="favoriteAction()">
        <ion-icon
          *ngIf="favorite === false"
          slot="icon-only"
          name="heart-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="favorite === true"
          slot="icon-only"
          name="heart"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scrollY="false">
  <ion-thumbnail class="animate__animated animate__fadeIn">
    <ion-img [src]="character?.image || 'assets/noimage.jpeg'"></ion-img>
  </ion-thumbnail>

  <div
    class="content ion-padding animate__animated animate__faster animate__fadeInUp"
  >
    <ion-avatar class="animate__animated animate__fadeIn">
      <ion-img [src]="character?.image || 'assets/noimage.jpeg'"></ion-img>
    </ion-avatar>
    <div *ngIf="episode !== undefined">
      <ion-item style="margin-top: 40px" color="secondary" lines="none">
        <ion-label slot="start">{{ character?.species }}</ion-label>
        <ion-label slot="end"> {{ character?.status }}</ion-label>
      </ion-item>
      <ion-text>
        <h2 class="title">{{ character?.name }}</h2>
      </ion-text>

      <ion-item
        (click)="viewEpisodeModal(episode?.id)"
        color="light"
        lines="none"
        button
        detail
      >
        <ion-text>
          <ion-label>First seen in:</ion-label>
          <ion-label>{{ episode?.name }}</ion-label>
        </ion-text>
        <ion-label slot="end">{{ episode?.episode }}</ion-label>
      </ion-item>

      <ion-item
        (click)="viewOriginLocation()"
        color="light"
        class="ion-margin-top"
        lines="none"
        button
        detail
      >
        <ion-text>
          <ion-label>Origin:</ion-label>
          <ion-label>{{ character?.origin.name }}</ion-label>
        </ion-text>
      </ion-item>

      <ion-item
        (click)="viewLastLocation()"
        color="light"
        class="ion-margin-top"
        lines="none"
        button
        detail
      >
        <ion-text>
          <ion-label>Last Known location:</ion-label>
          <ion-label>{{ character?.location.name }}</ion-label>
        </ion-text>
      </ion-item>
    </div>

    <app-skeleton *ngIf="episode === undefined"></app-skeleton>
  </div>
</ion-content>
