
ion-tabs {
  background-color: var(--ion-color-secondary);
  ion-tab-bar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    ion-tab-button {
      margin: 0 3px 0 3px;
      height: 30px;
      border-radius: 12px;
    }
  }
}

.activeTab {
  background-color: var(--ion-color-primary);
  color: white;
}
