<ion-header class="ion-no-border">
  <app-toolbar title="Characters" (onsearchClick)="searchModal()"></app-toolbar>
</ion-header>

<ion-content color="secondary" [scrollY]="false">
  <cdk-virtual-scroll-viewport
    class="ion-content-scroll-host"
    itemSize="90"
    minBufferPx="900"
    maxBufferPx="1350"
  >
    <ion-list color="secondary" class="animate__animated animate__fadeIn">
      <app-item-character
        *cdkVirtualFor="let character of characters; trackBy: trackBy"
        [character]="character"
        (onclick)="viewCharacter($event)"
      ></app-item-character>
    </ion-list>
    <ion-infinite-scroll
      threshold="100px"
      position="bottom"
      (ionInfinite)="loadData($event)"
    >
      <ion-infinite-scroll-content loadingSpinner="null">
        <app-item-skeleton></app-item-skeleton>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </cdk-virtual-scroll-viewport>
</ion-content>
