<ion-header class="ion-no-border">
  <app-toolbar title="Episodes" (onsearchClick)="searchModal()"></app-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-list color="secondary" class="animate__animated animate__fadeIn">
    <ion-virtual-scroll [items]="episodes">
      <app-item-episode
        *virtualItem="let episode"
        [episode]="episode"
        (onclick)="viewEpisodeModal($event)"
      ></app-item-episode>
    </ion-virtual-scroll>

    <ion-infinite-scroll
      threshold="100px"
      position="bottom"
      (ionInfinite)="loadData($event)"
    >
      <ion-infinite-scroll-content loadingSpinner="null">
        <app-item-skeleton-list></app-item-skeleton-list>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
