<ion-header class="ion-no-border">
  <app-toolbar (onsearchClick)="searchModal()" title="Locations"></app-toolbar>
</ion-header>

<ion-content color="secondary" [scrollY]="false">
  <cdk-virtual-scroll-viewport
    class="ion-content-scroll-host"
    itemSize="30"
    minBufferPx="900"
    maxBufferPx="1350"
  >
    <ion-list color="secondary" class="animate__animated animate__fadeIn">
      <app-item-location
        *cdkVirtualFor="let location of locations; trackBy: trackBy"
        [location]="location"
        (onclick)="viewLocationModal($event)"
      ></app-item-location>
    </ion-list>
    <ion-infinite-scroll
      threshold="100px"
      position="bottom"
      (ionInfinite)="loadData($event)"
    >
      <ion-infinite-scroll-content loadingSpinner="null">
        <app-item-skeleton-list></app-item-skeleton-list>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </cdk-virtual-scroll-viewport>
</ion-content>
