<ion-header class="ion-no-border">
  <app-toolbar (onsearchClick)="searchModal()" title="Locations"></app-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-list color="secondary" class="animate__animated animate__fadeIn">
    <ion-virtual-scroll [items]="locations">
      <app-item-location
        *virtualItem="let location"
        [location]="location"
        (onclick)="viewLocationModal($event)"
      ></app-item-location>
    </ion-virtual-scroll>

    <ion-infinite-scroll
      threshold="25%"
      position="bottom"
      (ionInfinite)="loadData($event)"
    >
      <ion-infinite-scroll-content loadingSpinner="null">
        <app-item-skeleton></app-item-skeleton>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
