ion-toolbar {
  position: absolute;
  --background: transparent;
  ion-back-button {
    --background: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
  }
}

ion-thumbnail {
  width: 100%;
  height: auto;
}

.content {
  width: 100%;
  background-color: var(--ion-color-secondary);
  position: absolute;
  height: 70%;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  overflow-y: auto;
  .charactersTitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--ion-color-secondary-contrast);
  }
  ion-list {
    ion-item {
      --border-radius: 8px;
      margin-top: 10px;
    }
  }
}

ion-skeleton-text {
  margin-top: 10px;
}
