<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scrollY="false">
  <ion-thumbnail class="animate__animated animate__fadeIn">
    <ion-img
      decoding="async"
      part="image"
      src="assets/backgroundimage.jpg"
    ></ion-img>
  </ion-thumbnail>
  <div class="content animate__animated animate__faster animate__fadeInUp">
    <ion-item *ngIf="episode !== undefined" color="secondary" lines="none">
      <ion-label slot="start">{{ episode?.name }}</ion-label>
      <ion-label slot="end">{{ episode?.episode }}</ion-label>
    </ion-item>

    <ion-item *ngIf="episode === undefined" color="secondary" lines="none">
      <ion-skeleton-text
        slot="start"
        animated
        style="width: 25%"
      ></ion-skeleton-text>
      <ion-skeleton-text
        slot="end"
        animated
        style="width: 25%"
      ></ion-skeleton-text>
    </ion-item>

    <ion-label class="charactersTitle ion-margin-start">Characters</ion-label>
    <ion-list *ngIf="skeletonCharacters === false">
      <app-item-character
        *ngFor="let character of characters"
        [character]="character"
        (onclick)="viewCharacter(character)"
      ></app-item-character>
    </ion-list>

    <div *ngIf="skeletonCharacters === true">
      <app-item-skeleton></app-item-skeleton>
    </div>
  </div>
</ion-content>
